<div class="ui fixed inverted teal menu">
	<!-- Logo -->
	<a class="header item" href="#about">
		<img src="images/logo.png">
	</a>
	<!-- Main Options -->
	<a class="item" href="#home" data-bind="css: { active: route().page === 'home-page' }">Home</a>
	<div class="ui dropdown item" data-bind="active: hasAdminPrivs()">
		Admin
		<i class="dropdown icon"></i>
		<div class="menu">
			<a class="item">Admin 1</a>
			<a class="item">Admin 2</a>
			<a class="item">Admin 3</a>
		</div>
	</div>

	<!-- Other stuff -->
	<div class="right menu">
		<!-- Global search field -->
		<div class="item">
			<div class="ui transparent inverted icon input">
				<i class="search icon"></i>
				<input type="text" placeholder="Search ...">
			</div>
		</div>
		<!-- User Preferences -->
		<div class="ui dropdown item">
			<i class="user icon"></i>
			<span data-bind="text: userName"></span>
			<i class="dropdown icon"></i>
			<div class="menu">
				<a class="item">Preferences</a>
				<a class="item">Change Password</a>
				<div class="divider"></div>
				<a class="item">Logout</a>
			</div>
		</div>
	</div>
</div>